# Ignore node_modules
node_modules/

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore build artifacts
dist/
build/

# Ignore VS Code settings
.vscode/

# Ignore environment files
.env

# Ignore Pusher debug files (if any)
pusher-debug.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore cache files
*.cache
.cache/

*data

/data/data.js
/data/organizer.js
/data/exhibitor.js

# IDE-specific files
.idea/