/* General Styles */
body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
}

#show-selector {
    margin-bottom: 20px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
    text-align: center;
}

button:hover {
    background-color: #45a049;
}

.form-control {
    margin-bottom: 15px;
}

.form-check-input {
    width: 44px;
    height: 44px;
}

.form-check-label {
    font-size: 1.1rem;
}

h1.bg-secondary {
    background-color: #6c757d;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    .entry {
        flex-direction: column;
        align-items: flex-start;
    }

    button {
        width: 90%;
        font-size: 0.9rem;
    }

    .form-check-label {
        font-size: 1rem;
    }
}

.container {
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
}

.breed-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #f0f8ff;
    color: #333;
    border: 2px solid #add8e6;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    transition: all 0.3s ease;
}

.breed-button:hover {
    background-color: #e0f7fa;
    border-color: #87ceeb;
}

.breed-button.selected {
    background-color: #ffcccb;
    color: #333;
    border-color: #f08080;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: #eeba7d;
    border-radius: 8px;
    border-color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.btn-primary {
    width: 100%;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

#breed-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    justify-content: center;
    align-items: start;
    margin: 20px 0;
}

.container {
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
}